nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            //- .sb-sidenav-menu-heading
            //-     | Core
        
            //- a.nav-link(href='index.html')
            //-     .sb-nav-link-icon
            //-         i.fa-solid.fa-gauge-high(style="color: #74C0FC;")
            //-     | Dashboard
                
            .sb-sidenav-menu-heading
                | Test Case

            a.nav-link(href='PingTest.html')
                .sb-nav-link-icon
                    i.fa-solid.fa-check(style="color: #74C0FC;")
                | Ping Test
            a.nav-link(href='IPTV.html')
                .sb-nav-link-icon
                    i.fa-solid.fa-check(style="color: #74C0FC;")
                | IPTV